* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

.line {
  background-color: #fff;
  position: absolute;
}

.vertical {
  width: 1px;
  height: 100%;
}

.horizontal {
  height: 1px;
  width: 100%;
}

.target_img {
  position: absolute;
  transform: translate(-50%, -50%);
}

.coordinate {
  font-size: 38px;
  position: absolute;
  color: #fff;
  margin: 20px;
}